.container{
    background-color: rgb(59, 231, 59);
}
.border{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 2vh;
    color: white;
}
.button{
    margin-bottom: .5rem;
}
#ascending{
    float: left;
}
#descending{
    margin-left: 2.5rem;
}
#filter{
    float:right;
}
.card
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:gray;
    font-weight: bold;
    background-color: rgb(173, 231, 173);
    margin-bottom: .3rem;
}